.events {
    padding-top: 147px;

	&__container {
		flex-direction: column;
		margin-right: auto;
		margin-left: auto;
	}
	
	&__list {
		display: flex;
		max-width: 1334px;
		margin: 0 auto;
		flex-wrap: wrap;
		gap: 120px 60px;
	}
}
