.home-about {
	display: block;
	max-width: 1334px;
	width: 100%;
	margin: 0 auto;

	&__text-container {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 1334px;
		margin: 0 auto;
	}

	&__big-text {
		max-width: 868px;
		margin-bottom: 50px;
		font-family: "Open Sans";
		font-size: 44px;
		font-weight: 700;
		line-height: 60px;
		letter-spacing: 0em;
		text-align: left;
		color: @black;
	}

	&__small-text {
		max-width: 867px;
		align-self: flex-end;
		font-family: "Open Sans";
		font-size: 18px;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 0em;
		text-align: left;
		color: @black;
	}
	
	&__picture {
		margin-top: 100px;
	}

	&__picture-rock {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	&__picture-exhibition {
		position: absolute;
    margin-left: 60px;
    padding-top: 388px;
	}

	&__picture-lobby {
		margin-top: 100px;
	}
}